SPRING_PROFILES_ACTIVE=dev

DB_URL=jdbc:mysql://localhost:3306/optica?useSSL=false&serverTimezone=America/Lima&allowPublicKeyRetrieval=true
DB_USERNAME=admin_optica
DB_PASSWORD=change-me

MYSQL_DATABASE=optica
MYSQL_USER=admin_optica
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me

SERVER_PORT=8080
FRONTEND_URL=http://localhost:4173
CATALOGO_URL=http://localhost:4174

MAIL_USERNAME=change-me@example.com
MAIL_PASSWORD=change-me

API_PERU_URL_DNI=https://miapi.cloud/v1/dni/
API_PERU_URL_RUC=https://miapi.cloud/v1/ruc/
API_PERU_TOKEN=change-me

JWT_SECRET=local_dev_secret_with_at_least_32_characters
JWT_EXPIRATION=86400000

CLOUDINARY_CLOUD_NAME=change-me
CLOUDINARY_API_KEY=change-me
CLOUDINARY_API_SECRET=change-me
